<% @bowls.each do |bowl| %>
  <div class="column">
    <% if !bowl.scraps.empty? %>
      <div class="bowl-container">
        <%= link_to bowl_scrap_path(bowl, bowl.scraps.sample), class: "foo" do %>
          <div class="bowl"></div>
          <%= link_to bowl.name, bowl_path(bowl) %>
        <% end %>
      </div>
    <% else %>
    <div class="bowl-container">
      <%= link_to new_bowl_scrap_path(bowl), class: "foo" do %>
        <div class="bowl"></div>
      <% end %>
    </div>
    <% end %>

  </div>
<% end %>
