<% @bowls.each do |bowl| %>
  <div class="column">
    <%= link_to bowl_scrap_path(bowl, bowl.scraps.sample), class: "foo" do %>
      <div class="bowl"></div>
    <% end %>

    <%= link_to bowl.name, bowl_path(bowl) %>
  </div>
<% end %>
