<h2><%= @bowl.name %></h2>

<p>Pull (this should take you to bowls/<%= @bowl.id %>/scraps/n, where n=random)</p>
<p>Add (this should take you to bowls/<%= @bowl.id %>/scraps/new)</p>
<p>Edit (this should take you to bowls/<%= @bowl.id %>/edit)</p>
