<h2><%= @bowl.name %></h2>

<p>Pull (this should take you to bowls/<%= @bowl.id %>/scraps/n, where n=random)</p>
<p>Add (this should take you to bowls/<%= @bowl.id %>/scraps/new)</p>
<%= link_to 'Edit', edit_bowl_path %>
