<div class="column">
  <%= link_to bowl_scrap_path(@bowl, @bowl.scraps.sample), class: "foo" do %>
    <div class="bowl"></div>
  <% end %>

  <h2><%= @bowl.name %></h2>

  <% if !@bowl.scraps.empty? %>
    <p><%= link_to "Pull scrap", bowl_scrap_path(@bowl, @bowl.scraps.sample) %></p>
  <% else %>
    This bowl is empty.
  <% end %>

  <%= link_to "Edit bowl", edit_bowl_path %>
</div>
