<div class="column">
  <div class="bowl-container">
    <div class="bowl home-bowl"></div>

    <p><%= link_to 'sign in', new_user_session_path %></p>
    <p><%= link_to "sign in with google", "users/auth/google_oauth2" %></p>
  </div>
</div>
