<h2>Scraps in '<%= @bowl.name %>'</h2>

<% if @bowl.scraps.empty? %>
  <p>This bowl is empty.</p>
  <p><%= link_to "Add a scrap", new_bowl_scrap_path %></p>
<% else %>
  <ul>
    <% @bowl.scraps.each do |scrap| %>
    <li>
      <%= scrap.description %> (edit) <%= link_to "(edit)", edit_scrap_path(scrap) %>
    </li>
    <% end %>
  </ul>
<% end %>
