<div class="column">
  <h2><%= @scrap.description %></h2>

  <% if @scrap.bowls.empty? %>
    This scrap doesn't have a bowl.
  <% else %>
    Bowls:
    <% @scrap.bowls.each do |bowl| %>
      <%= bowl.name %>,
    <% end %>
  <% end %>

  <p><%= link_to "Edit scrap", edit_scrap_path(@scrap) %></p>
</div>
