<div class="column">
  <h2>Scrap #<%= @scrap.id %></h2>
  <p>"<%= @scrap.description %>"</p>

  <% if @scrap.bowls.empty? %>
    This scrap doesn't have a bowl.
  <% else %>
    Bowls:
    <% @scrap.bowls.each do |bowl| %>
      <%= link_to bowl.name, bowl_path(bowl) %>
    <% end %>
  <% end %></p>

  <p><%= link_to "Edit scrap", edit_scrap_path(@scrap) %></p>
</div>
