/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

 body {
  background-color: #000;
  color: rgba(255,255,255,.9);
  font-family: 'Source Code Pro', monospace;
  font-size: 2em;
  line-height: 1.5em;
}

.content {
  margin: 0 auto 100px;
  width: 500px;
}

a {
  background-color: rgba(255,255,255,.9);
  color: rgba(0,0,0,1);
  text-decoration: none;
  padding: 10px 20px;
  transition: text-shadow 0.4s ease;
}

a:hover {
  text-shadow: 2px 1px rgba(0,255,0,.6), -2px -1px rgba(255,0,255,.6);
}

h1 a {
  margin: 40px 0;
  font-family: Helvetica;
  font-size: 1.5em;
  line-height: 1em;
  text-decoration: none;
  color: rgba(255,255,255,.75);
  background-color: transparent;
  text-transform: uppercase;
  text-align: center;
  /*text-shadow: 5px 1px rgba(30,242,241,.7), -5px -1px rgba(246,5,10,.7);*/
  text-shadow: 3px 1px rgba(0,255,0,.6), -3px -1px rgba(255,0,255,.6);
}

h2 {
  text-align: center;
}

.bowl {
    margin: 50px auto;
    width: 200px;
    height: 120px;
    background-color: transparent;
    border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
    border: 10px solid rgba(255,255,255,.9);
    border-top: 0;
}

.column {
  width: 100%;
  float: none;
  padding-bottom: 10px;
  text-align: center;
  /*background-color: yellow;*/
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  margin-bottom: 50px;
  max-width: 800px;
}

@media only screen and (min-width: 960px) {
  .column-third {
    width: 33.333%;
    float: left;
  }

  .wrapper {
    /*width: 960px;*/
  }
}

/* FORM */

input[type=text], input[type=url], input[type=password], input[type=email], input[type=date], textarea {
  width: 90%;
  background-color: rgba(255,255,255,.9);
  font-family: 'Source Code Pro', monospace;
  font-size: 1em;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 0px;
  box-sizing: border-box;
    -webkit-appearance: none;
}

textarea {
  resize: none;
}

input[type=submit] {
  width: auto;
  background-color: rgba(255,255,255,.9);
  color: rgba(0,0,0,1);
  font-family: 'Source Code Pro', monospace;
  font-size: 1em;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  transition: text-shadow 0.4s ease;
    -webkit-appearance: none;
}

input[type=submit]:hover {
  text-shadow: 2px 1px rgba(0,255,0,.6), -2px -1px rgba(255,0,255,.6);
    -webkit-appearance: none;
}

input[type=checkbox] {
  height: 25px;
  width: 25px;
}

/* TEXT SELECT */

/* Mozilla based browsers */
::-moz-selection {
  background-color: rgba(255,255,255,1);
}

/* Works in Safari */
::selection {
  background-color: rgba(255,255,255,1);
}

* {
  outline-color: rgba(255,255,255,1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  box-sizing: border-box;
}
