/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

 html {
   height: 100vh;
 }

 body {
  background-color: #000;
  position: relative;
  color: rgba(255,255,255,.9);
  font-family: 'Source Code Pro', monospace;
  font-size: 2em;
  line-height: 1.5em;
  min-height: 100%;
}

.content {
  margin: 0 auto 0px;
  width: 500px;
}

a {
  background-color: rgba(255,255,255,.9);
  color: rgba(0,0,0,1);
  text-decoration: none;
  padding: 10px 20px;
  transition: text-shadow 0.4s ease;
}

a:hover {
  text-shadow: 2px 1px rgba(0,255,0,.6), -2px -1px rgba(255,0,255,.6);
}

div a.foo {
  background-color: transparent;
  padding: 0;
}

h1 a {
  margin: 40px 0;
  font-family: Helvetica;
  font-size: 1.5em;
  line-height: 1em;
  text-decoration: none;
  color: rgba(255,255,255,.75);
  background-color: transparent;
  text-transform: uppercase;
  text-align: center;
  /*text-shadow: 5px 1px rgba(30,242,241,.7), -5px -1px rgba(246,5,10,.7);*/
  text-shadow: 3px 1px rgba(0,255,0,.6), -3px -1px rgba(255,0,255,.6);
}

h2 {
  text-align: center;
}

.bowl {
    margin: 50px auto;
    overflow: none;
    width: 200px;
    height: 120px;
    background-color: transparent;
    border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
    border: 10px solid rgba(255,255,255,.9);
    border-top: 0;
}

.column {
  width: 100%;
  float: none;
  padding-bottom: 10px;
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 50px;
  max-width: 800px;
}

#error_explanation {
  color: rgba(0,255,0,.6);
}

/* Gear icon */

.icon {
  /*float:left;*/
  width:24px;
  height:24px;
  position:relative;
  display:block;
}
.icon:before,
.icon:after {
  position:absolute;
  content:"";
  display:block;
}

.btn {
  display:inline-block;
  min-width:24px;
  height:24px;
  line-height: 16px;
  margin:0 5px 5px 0;
  background: transparent;
  /*font-size: 10pt;
  font-weight: bold;
  text-decoration: none;*/
  border-radius:5px;
  padding:10px;
  position:absolute;
  top: 24px;
  right: 24px;
}

.icon-gear:before {
  width:24px;
  height:24px;
  color: rgba(255,255,255,0.9);
  box-shadow:0 0 0 4px inset;
  border-radius:20px;
  border:2px dashed;
  top:-2px;
  left:-1px;
}

/* Burger menu button */
.burger {
	width: 28px;
	display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;
  border: 0;
	background: none;
	outline: 0;
	padding: 0;
	cursor: pointer;
	border-bottom: 4px solid rgba(255,255,255,.9);
	width: 28px;
	transition: border-bottom 1s ease-in-out;
	-webkit-transition: border-bottom 1s ease-in-out;
}

/* Fix for extra space in Firefox */
/* 	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}	  */

.burger::before {
  content: "";
  display: block;
  border-bottom: 4px solid rgba(255,255,255,.9);
  width: 100%;
  margin-bottom: 5px;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger::after {
  content: "";
  display: block;
  border-bottom: 4px solid rgba(255,255,255,.9);
  width: 100%;
  margin-bottom: 5px;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger-check {
  display: none;
}

.burger-check:checked ~ .burger {
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.1s ease-in-out;
  -webkit-transition: border-bottom 0.1s ease-in-out;
}

.burger-check:checked ~ .burger::before {
    transform: rotate(-45deg) translateY(1px) translateX(-3px);
    -webkit-transform: rotate(-45deg) translateY(1px) translateX(-3px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    animation: text-flicker 1s linear 1;
  }

.burger-check:checked ~ .burger::after {
    transform: rotate(45deg) translateY(-4px) translateX(-5px);
    -webkit-transform: rotate(45deg) translateY(-4px) translateX(-5px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    animation: text-flicker 1s linear 1;
  }

/* Navigation */

.navigation {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  position: absolute;
  top: 50px;
  left: 20px;
  text-align: left;
  transition: opacity 0.6s ease-in-out;
}

.burger-check:checked ~ .navigation {
  max-height: 500px;
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
  animation: text-flicker-skew .75s linear 1;
}

.navigation ul {
  margin: 0;
  padding: 0;
}

.navigation li {
  list-style: none;
  font-size: 25px;
  padding: 0px 0;
}

.navigation li a {
  background-color: transparent;
  color: rgba(255,255,255,.9);
  padding: 0;
  text-decoration: none;
}

.navigation li a:hover {
  text-decoration: none;
}

/* Flicker */
@keyframes text-flicker {
  0% { opacity:0.1; }
  2% { opacity:1; }
  8% { opacity:0; }
  9% { opacity:1; }
  12% { opacity:0; }
  20% { opacity:1; }
  25% { opacity:0.3; }
  30% { opacity:1; }
  70% { opacity:1; }
  72% { opacity:1; }
  77% { opacity:1; }
  100% { opacity:1; }
}

/* Flicker with skew */
@keyframes text-flicker-skew {
  0% { opacity:0.1; }
  2% { opacity:1; }
  8% { opacity:0; }
  9% { opacity:1; }
  12% { opacity:0; }
  20% { opacity:1; }
  25% { opacity:0.3; }
  30% { opacity:1; }
  40% { opacity:1; -webkit-transform:scale(1,1);  -webkit-transform:skew(0,0);}
  41% { opacity:0.8; -webkit-transform:scale(1,1.2);  -webkit-transform:skew(20deg,0);}
  42% { opacity:0.8; -webkit-transform:scale(1,1.2);  -webkit-transform:skew(-40deg,0);}
  43% { opacity:1; -webkit-transform:scale(1,1);  -webkit-transform:skew(0,0);}
  70% { opacity:0.7; }
  72% { opacity:0.2; }
  77% { opacity:.9; }
  100% { opacity:.9; }
}

/* Heart Signature */
.heart {
  color: rgba(255,255,255,.9);
  position: absolute;
  bottom: 0px;
  right: 20px;
  font-size: 0.5em;
}

.heart a {
  background-color: transparent;
  color: rgba(255,255,255,.9);
  padding: 0;
}
.heart span {
  font-size: 1.25em;
  color: rgba(0,255,0,.6);
}

@media only screen and (min-width: 960px) {
  .column-third {
    width: 33.333%;
    float: left;
  }

  .wrapper {
    /*width: 960px;*/
  }
}

/* Form */
input[type=text], input[type=url], input[type=password], input[type=email], input[type=date], textarea {
  width: 90%;
  background-color: rgba(255,255,255,.9);
  font-family: 'Source Code Pro', monospace;
  font-size: 1em;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 0px;
  box-sizing: border-box;
    -webkit-appearance: none;
}

textarea {
  resize: none;
}

input[type=submit] {
  width: auto;
  background-color: rgba(255,255,255,.9);
  color: rgba(0,0,0,1);
  font-family: 'Source Code Pro', monospace;
  font-size: 1em;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  transition: text-shadow 0.4s ease;
    -webkit-appearance: none;
}

input[type=submit]:hover {
  text-shadow: 2px 1px rgba(0,255,0,.6), -2px -1px rgba(255,0,255,.6);
    -webkit-appearance: none;
}

input[type=checkbox] {
  height: 25px;
  width: 25px;
}

input:focus {
  outline: none;
}

/* TEXT SELECT */

/* Mozilla based browsers */
::-moz-selection {
  background-color: rgba(255,255,255,1);
}

/* Works in Safari */
::selection {
  background-color: rgba(255,255,255,1);
}

/*
* {
  outline-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/
