/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

 body {
  background-color: #000;
  color: rgba(255,255,255,.9);
  font-family: 'Source Code Pro', monospace;
  /*font-family: 'Courier New', monospace;*/
  font-size: 2em;
}

.content {
  margin: 0 auto;
  width: 500px;
}

a {
  color: rgba(0,255,0,.6);
}

h1 a {
  margin: 40px 0;
  font-family: Helvetica;
  font-size: 1.5em;
  line-height: 1em;
  text-decoration: none;
  color: rgba(255,255,255,.75);
  text-transform: uppercase;
  text-align: center;
  /*text-shadow: 5px 1px rgba(30,242,241,.7), -5px -1px rgba(246,5,10,.7);*/
  text-shadow: 3px 1px rgba(0,255,0,.6), -3px -1px rgba(255,0,255,.6);
}
